<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    <bean id="default" class="ru.job4j.beans.DefaultConstructedBean"/>
    <bean id="static-method" class="ru.job4j.beans.StaticMethodConstructedBean" factory-method="builder"/>
    <bean id="bean-factory" class="ru.job4j.beans.BeanFactory"/>
    <bean id="factory-constructed-bean" factory-bean="bean-factory" factory-method="createBean"/>
    <bean id="complex-bean" class="ru.job4j.autowired.ComplexBean">
        <constructor-arg name="alfa" ref="factory-constructed-bean"/>
    </bean>
    <!--<context:component-scan base-package="ru.job4j.autowired"/>-->
    <bean id="jdbc-storage" class="ru.job4j.storages.JdbcStorage">
        <constructor-arg name="path" value="db.properties"/>
    </bean>
    <bean id="memory-storage" class="ru.job4j.storages.MemoryStorage"/>
    <bean id="import-user" class="ru.job4j.storages.ImportUser">
        <constructor-arg name="storage" ref="memory-storage"/>
    </bean>
</beans>
