<web-app>
    <servlet>
        <servlet-name>ItemController</servlet-name>
        <servlet-class>ru.job4j.servlets.ItemController</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ItemController</servlet-name>
        <url-pattern>/items</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CarController</servlet-name>
        <servlet-class>ru.job4j.servlets.CarController</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>CarController</servlet-name>
        <url-pattern>/cars</url-pattern>
    </servlet-mapping>
    <listener>
        <listener-class>ru.job4j.listeners.DBInit</listener-class>
    </listener>
</web-app>
