<?xml version="1.0" encoding="ISO-8859-1" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
    <listener>
        <listener-class>ru.job4j.listeners.DBInit</listener-class>
    </listener>
    <filter>
        <filter-name>FilterCB</filter-name>
        <filter-class>ru.job4j.callboard.servlets.FilterCB</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterCB</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>ItemController</servlet-name>
        <servlet-class>ru.job4j.servlets.ItemController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ItemController</servlet-name>
        <url-pattern>/items</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CarController</servlet-name>
        <servlet-class>ru.job4j.servlets.CarController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CarController</servlet-name>
        <url-pattern>/cars</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>ru.job4j.callboard.servlets.UploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
</web-app>
